@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow/barlow-latin-400-normal.ttf") format(truetype),
  url("/public/assets/fonts/Barlow/barlow-latin-400-normal.woff") format(woff),
  url("/public/assets/fonts/Barlow/barlow-latin-400-normal.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow/barlow-latin-500-normal.ttf") format(truetype),
  url("/public/assets/fonts/Barlow/barlow-latin-500-normal.woff") format(woff),
  url("/public/assets/fonts/Barlow/barlow-latin-500-normal.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow/barlow-latin-600-normal.ttf") format(truetype),
  url("/public/assets/fonts/Barlow/barlow-latin-600-normal.woff") format(woff),
  url("/public/assets/fonts/Barlow/barlow-latin-600-normal.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow/barlow-latin-700-normal.ttf") format(truetype),
  url("/public/assets/fonts/Barlow/barlow-latin-700-normal.woff") format(woff),
  url("/public/assets/fonts/Barlow/barlow-latin-700-normal.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow/barlow-latin-800-normal.ttf") format(truetype),
  url("/public/assets/fonts/Barlow/barlow-latin-800-normal.woff") format(woff),
  url("/public/assets/fonts/Barlow/barlow-latin-800-normal.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}