@use 'helpers' as *;

//анимация перехода между страницами
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.wrapper {
  @include flex-custom();
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  margin-inline: auto;
  width: var(--container-calc-width);
}

.w-full {
  width: 100%;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}